.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar-brand {
    margin-left: 180px;
}


/* Products */

.product {
    margin: 20px;
}

.product-name {
    font-weight: bold;
}

.product-img {
    max-width: 300px;
    max-height: 200px;
}

.add-products-img {
   margin-left: 200px;
}

.product-description {
    max-width: 300px;
}

.product button,
h4 {
    margin: 10px 0px;
}

/* Proudcts in cart */

.incart-description {
    max-width: 500px;
}

.incart-field {
    font-weight: bold;
}

.total {
    font-weight: bold;
    font-size: large;
}

li {
    list-style-type: none;
}

nav h1 {
    margin: 0px 100px;
}

.cart-icon {
    margin: 20px 40px;
}

.cart-icon {
    color: black;
}

/* Cart */

.input-form {
    margin: 30px 0px;
}

/* .row {
  margin: 0px;
} */

.no-items {
    font-size: large;
    margin: 50px;
}

.cart-img {
    max-width: 300px;
    max-height: 100px;
    float: left;
    margin: 0px 20px 0px 0px;
}

.cart-item {
    margin: 40px 0px;
}

/* Quantity counter */

input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type='button'] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

/* Remove item button */

.close {
    position: relative;
    right: 22px;
    bottom: 10px;
    width: 22px;
    height: 22px;
    opacity: 0.5;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 1040px) {
  .navbar-brand {
    margin-left: 100px;
  }
}

